body {
  font-family: Arial;
  margin: 20px;
}

.destinoCard {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.seleccionado {
  background-color: yellow;
  font-weight: bold;
}
